*{
	margin: 0;
	padding: 0;
	font-family: 'exo 2', sans-serif;
	font-weight: 200;
	outline: 0;
}
body{
	background-color: #E9E9E9;
	padding-top: 50px !important;
	padding-bottom: 50px !important;
}
img:not(.doc_category_icon, .spinner){
	background-color: white;
}
.hidden{
	display: none;
}
.button{
	background-color: #FFC547;
	border: none;
	padding: 3px 8px 3px 8px;
	border-radius: 1px;
}
.button:hover{
	background-color: orange;
}
.leftbar{
	background-color: #FFC547;
	width: 260px;
	height: calc(100% - 30px);
	position: fixed;
	top:40px;
	overflow-y: auto;
	box-shadow: 1px 4px 6px #ababab;
	z-index: 90;
}
.hide_leftbar{
	position: fixed;
	left: 220px;
	top: calc(100% - 40px);
	background-color: orange;
	width: 28px;
	height: 30px;
	padding: 6.5px;
	padding-left: 7px;
	cursor: pointer;
	z-index: 99;
	border-radius: 20px;
	box-shadow: 0px 2px 8px -4px black;
}
.hide_leftbar:hover{
	background-color: darkOrange;
}
.profile_pic{
	margin: 24px 54px 0px 54px;
	width:150px;
	height: 150px;
	border: 2px solid gray;
	object-fit: cover;
}
.leftbar_item{
	margin: 15px 0px 15px 0px;
	text-align: center;
}
#leftbar_name{
	font-size: 24px;
	background-color: orange;
}
#leftbar_title{
	font-size: 20px;
}
#leftbar_email{
	font-size: 18px;
}
#leftbar_phone{
	font-size: 18px;
}
#notif{
	margin-top: 25vh;
}
.navbar_item{
	display: inline-block;
	margin: 0px 2px 0px 2px;
}
.navbar_link{
	width: 22%;
	text-align: center;
	font-size: 25px;
	padding: 4px 0px 4px 0px;
	margin: 0;
	height: 40px;
	cursor: pointer;
	/*border-right: 1px solid black; */

}
.navbar_link:hover:not(.active){
	background-color: #FFB524;
}
div.navigation_bar{
	background-color: #FFC547;
	height: 40px;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 96;
	box-shadow: 1px 1px 12px -7px black;
	z-index: 89;
	border-radius: 1px;
}
li.active{
	background-color: orange;
}
#notif_button{
	text-align: center;
	position: absolute;
	width: 40px;
	margin-left: 60%;
	left: 260px;
	font-size: 20px;
	height: 100%;
	padding-top: 7px;
}
#notif_drop{
	position: fixed;
	width: 240px;
	margin-left: 60%;
	left: 100px;
	height: 345px;
	background-color: #ffc547;
	z-index: 98;
	overflow-y: auto;
}
.triangle_thing_notif{
	border-color: transparent;
	border-bottom-color: #ffc547;
	border-style: dashed dashed solid;
	border-width: 0 8.5px 8.5px;
	position: fixed;
	left: 271px;
	margin-left: 60%;
	top: 42px;
	z-index: 98;
	height: 0;
	width: 0;

	color: #ffc547;
}
#prof_drop{
	position: fixed;
	width: 240px;
	margin-left: 60%;
	left: 140px;
	height: 80px;
	background-color: #ffc547;
	z-index: 98;
}
.triangle_thing_prof{
	border-color: transparent;
	border-bottom-color: #ffc547;
	border-style: dashed dashed solid;
	border-width: 0 8.5px 8.5px;
	position: fixed;
	left: 317px;
	margin-left: 60%;
	top: 42px;
	z-index: 98;
	height: 0;
	width: 0;

	color: #ffc547;
}
.notif_list_item{
	list-style-type: none;
	height: 40px;
	border-bottom: 1px solid black;
	font-size: 14px;
	text-align: left;
	padding: 10px;
}
#logout_button{
	border-bottom: none !important;
}
.notif_list_item:hover{
	background-color: #FFB524;
	cursor: pointer;
}
#profile_id{
	height: 100%;
	position: absolute;
	margin-left: 60%;
	left: 310px;
	top: 5px;
}
#profile_name{
	height: 100%;
	position: absolute;
	margin-left: 60%;
	left: 350px;
	top: 9px;
}
#profile_id:hover{
	cursor: pointer;
}
#profile_name:hover{
	cursor: pointer;
}
#notif_button:hover{
	background-color: #FFB524;
	cursor: pointer;
}
#name_link{
	color: black;
}
.searchbox{
	border: 0;
	height: 40px;
	width: 260px;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 20px;
	padding: 8px;
}
#categories{
	margin-left: 260px;
	position: fixed;
	width: 60%;
	top:0px;
	left: 0px;
}
#small_prof_pic{
	width: 30px;
	height: 30px;
	object-fit: cover;
	border-radius: 5px;
}
#medium_prof_pic{
	width: 40px;
	height: 40px;
	object-fit: cover;
	border-radius: 5px;
}
#navbar_list{
	height: 40px;
	padding: 0;
}
#span1:hover{
	background-color: #FFB524;
}
.chat_name{
	height: 60px;
	border-bottom: 1px solid black;
	font-size: 18px;
	text-align: left;
	padding: 18px;
}
.drive_name{
	height: 60px;
	border-bottom: 1px solid black;
	font-size: 18px;
	text-align: left;
	padding: 18px;
}
.show{
	margin-top: -6px;
	margin-right: 7px;
	display: inline-block !important;
}
.chat_opponent{
	display: inline-block !important;
	padding-right: 5px;
	font-weight: 400;
	margin-bottom: 0px;
}
.temp{
	margin-top: -6px;
	margin-right: 7px;
	visibility: hidden;
}
#hovered{
	background-color: #FFB524;
	cursor: pointer;
}
.selected{
	background-color: orange !important;
	cursor: pointer;
}
.drive_name:hover{
	background-color: #FFB524;
}
.drive_name{
	cursor: pointer;
}
.online{
	border: 2px solid #00B800;
}
.offline{
	border: 2px solid #B20000;
}
.away{
	border: 2px solid #E6E600;
}
#home_link{
	width: 8%;
}
.hborder{
	border-right: 1px solid black;
  	position: absolute;
  	top: 15%;
  	bottom: 15%;
  	width: 8.1%;
}
.border{
	border-right: 1px solid black;
  	position: absolute;
  	top: 15%;
  	bottom: 15%;
  	width: 22.06%;
}
#make_group{
	font-size: 23px;
	margin-left: 5px;
	margin-right: 8px;
}
#make_drive{
	font-size: 23px;
	margin-left: 5px;
	margin-right: 14px;
}
#login_area{
	width: 360px;
	height: 520px;
	background-color: #FFC547;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -260px 0 0 -180px;
	border-radius: 1px;
	box-shadow: 3px 5px 10px -2px gray;

}
.login_item{
	display: block;
}
#username_box{
	position: relative;
	left: 50%;
	width: 300px;
	height: 50px;
	font-size: 32px;
	margin-left: -150px;
	margin-top: 90px;
	border: 0;
	border-radius: 1px;
	padding: 8px;
	box-shadow: 1.5px 3px 8px -2px #BA7000;
}
#password_box{
	position: relative;
	left: 50%;
	width: 300px;
	height: 50px;
	font-size: 32px;
	margin-left: -150px;
	margin-top: 20px;
	border: 0;
	border-radius: 1px;
	padding: 8px;
	box-shadow: 1.5px 3px 8px -2px #BA7000;
}
#remember{
	position: relative;
	left: 32px;
	margin-top: 24px;
}
#remember_box:hover{
	cursor: pointer;
}
#login_button{
	background-color: orange;
	border: 0;
	border-radius: 1px;
	font-size: 32px;
	margin-top: 20px;
	position: relative;
	width: 300px;
	left: 50%;
	margin-left: -150px;
	height: 50px;
	box-shadow: 1.5px 3px 8px -2px #A76500;
}
#login_button:hover{
	background-color: darkorange;
	cursor: pointer;
}
#signup_buttonS{
	background-color: #0099FF;
	border: 0;
	border-radius: 1px;
	font-size: 32px;
	position: absolute;
	width: 300px;
	left: 50%;
	margin-left: -150px;
	height: 50px;
	top: 570px;
	box-shadow: 1.5px 3px 8px -2px #BA7000;
}
#signup_buttonL{
	background-color: #0099FF;
	border: 0;
	border-radius: 1px;
	font-size: 32px;
	margin-top: 20px;
	position: relative;
	width: 300px;
	left: 50%;
	margin-left: -150px;
	height: 50px;
	box-shadow: 1.5px 3px 8px -2px #BA7000;
}
#signup_buttonS:hover, #signup_buttonL:hover{
	background-color: #008AE6;
	cursor: pointer;
}
input[type=checkbox] {
    display: none;
}
label:before {
    content: "";
    display: inline-block;

    width: 30px;
    height: 30px;

    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: .3em;
    background-color: #E9E9E9;
    border-radius: 1px;
		box-shadow: 1.5px 3px 8px -2px #BA7000;
}
input[type=checkbox]:checked + label:before {
	position: absolute;
    content: "\2713";
    font-size: 30px;
    color: orange;
    text-align: center;
    line-height: 28px;
    bottom: .25em;
    border-radius: 1px;
}
#remember_text{
	margin-left: 35px;
	font-size: 25px;
	font-weight: 200;
}
#remember_text:hover{
	cursor: pointer;
}
#form{
	position: relative;
}
.signup_item{
	display: block;
}
.signup_item:not(.make_team_question){
	box-shadow: 1.5px 3px 8px -2px #BA7000 !important;
	border-radius: 0px !important;
}
#signup_area{
	width: 720px;
	height: 640px;
	background-color: #FFC547;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -330px 0 0 -360px;
	border-radius: 1px;
	box-shadow: 3px 5px 10px -2px gray;
}
#team_signup_area{
	display: none;
}
#firstname{
	position: relative;
	left: 50%;
	width: 300px;
	height: 40px;
	font-size: 25px;
	margin-left: -150px;
	margin-top: 25px;
	border: 0;
	border-radius: 5px;
	padding: 8px;
}
#lastname{
	position: relative;
	left: 50%;
	width: 300px;
	height: 40px;
	font-size: 25px;
	margin-left: -150px;
	margin-top: 20px;
	border: 0;
	border-radius: 5px;
	padding: 8px;
}
#username_signup{
	position: relative;
	left: 50%;
	width: 300px;
	height: 40px;
	font-size: 25px;
	margin-left: -150px;
	margin-top: 20px;
	border: 0;
	border-radius: 5px;
	padding: 8px;
}
#password_signup{
	position: relative;
	left: 50%;
	width: 300px;
	height: 40px;
	font-size: 25px;
	margin-left: -150px;
	margin-top: 20px;
	border: 0;
	border-radius: 5px;
	padding: 8px;
}
#password_signup_confirm{
	position: relative;
	left: 50%;
	width: 300px;
	height: 40px;
	font-size: 25px;
	margin-left: -150px;
	margin-top: 20px;
	border: 0;
	border-radius: 5px;
	padding: 8px;
}
#subdivision_signup{
	position: relative;
	left: 50%;
	width: 300px;
	height: 40px;
	font-size: 25px;
	margin-left: -150px;
	margin-top: 20px;
	border: 0;
	border-radius: 5px;
	padding: 2px;
	padding-left: 8px;
	-webkit-appearance:none;
}
#phone_signup{
	position: relative;
	left: 50%;
	width: 300px;
	height: 40px;
	font-size: 25px;
	margin-left: -150px;
	margin-top: 20px;
	border: 0;
	border-radius: 5px;
	padding: 8px;
}
#team_code_signup{
	position: relative;
	left: 50%;
	width: 300px;
	height: 40px;
	font-size: 25px;
	margin-left: -150px;
	margin-top: 20px;
	border: 0;
	border-radius: 5px;
	padding: 8px;
}
#make_team_button{
	position: relative;
	left: 50%;
	width: 300px;
	height: 40px;
	font-size: 23px;
	margin-left: -150px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	padding: 2px 4px 2px 4px;
	background-color: orange;
}
#make_team_button:hover{
	background-color: darkOrange;
}
#email_signup{
	position: relative;
	left: 50%;
	width: 300px;
	height: 40px;
	font-size: 25px;
	margin-left: -150px;
	margin-top: 20px;
	border: 0;
	border-radius: 5px;
	padding: 8px;
}
#team_number_signup{
	position: relative;
	left: 50%;
	width: 300px;
	height: 40px;
	font-size: 25px;
	margin-left: -150px;
	margin-top: 20px;
	border: 0;
	border-radius: 5px;
	padding: 8px;
}
#team_name_signup{
	position: relative;
	left: 50%;
	width: 300px;
	height: 40px;
	font-size: 25px;
	margin-left: -150px;
	margin-top: 20px;
	border: 0;
	border-radius: 5px;
	padding: 8px;
}
#choose_team_code_signup{
	position: relative;
	left: 50%;
	width: 300px;
	height: 40px;
	font-size: 25px;
	margin-left: -150px;
	margin-top: 20px;
	border: 0;
	border-radius: 5px;
	padding: 8px;
}
.pic_choose_button{
	position: relative;
	left: 50%;
	width: 300px;
	height: 40px;
	margin-left: -150px;
	margin-top: 24px;
	border: none;
	border-radius: 5px;
	padding: 2px 4px 2px 4px;
	background-color: orange;
	font-size: 23px;
}
.pic_choose_button:hover{
		background-color: darkOrange;
}
.make_team_question{
	font-size: 18px;
	margin-top: 20px;
	margin-left: 20px;
}
.disclaimer{
	width: 300px;
	margin: 0 auto;
	margin-top: 20px;
	padding: 3px;
}
#darken{
	position: fixed;
	width: 100%;
	height:100%;
	background-color: black;
	opacity: 0.25;
	top:0;
	z-index: 97;
}
.announcement{
	max-width: 700px;
	width: 90%;
	margin: 0 auto;
	background-color: white;
	/* border: 1px solid orange; */
	padding: 10px;
	margin-top: 15px;
	border-radius: 1px;
	font-size: 16px;
	margin-bottom: 20px;
	position: relative;
	box-shadow: 1.5px 3px 8px -2px #a9a9a9;
}
.announcement_poster{
	font-size: 20px;
	margin-left: 8px;

}
.announcement_top{
	margin-bottom: -15px;
}
.post_announcement{
	max-width: 700px;
	width: 90%;
	margin: 0 auto;
	background-color: white;
	/*border: 1px solid orange;*/
	padding: 10px;
	margin-top: 15px;
	border-radius: 1px;
	font-size: 16px;
	margin-bottom: 20px;
	box-shadow: 1.5px 3px 8px -2px #a9a9a9;
	overflow: auto;
}
.announcement_textarea{
	width: 100%;
	vertical-align: top;
	padding: 5px;
	resize: none;
}
.announcement_textarea:focus{
	outline-style: none;
}
.announcement_post_button{
	float: right;
	background-color: #ffc547;
	border: none;
	font-size: 18px;
	margin-top: 8px;
	padding: 1px 6px 1px 6px;
	border-radius: 1px;
	box-shadow: 2px 2px 4px  #c9c9c9;
	margin-right: 2px;
}
.announcement_post_button:hover{
	background-color: orange;
}
.reply_textarea{
	width: 85%;
	vertical-align: top;
	padding: 5px;
	resize: none;
	border:none;
	max-height: 260px;
	height: 20px;
	margin-left: 8px;
	border-radius: 5px;
}
.chat_area{
	position: absolute;
	max-width: 700px;
	width: 50%;
	min-width: 400px;
	height: calc(100vh - 80px - 20px);
	min-height: 400px;
	margin: 0 auto;
	left: calc(260px + (1 / 2 * (100vw - 260px)));
	margin-left: -25%;
	/*border: 1px solid orange;*/
	z-index: -1 !important;
	overflow: auto;
	border-left: 2px solid #cccccc;
	border-right: 2px solid #ffc547;
}
@media screen and (min-width: 1415px) {
    .chat_area{
		margin-left: -350px;
	}
}
.reply_box{
	position: absolute;
	max-width: 700px;
	width: 50%;
	min-width: 400px;
	margin: 0 auto;
	left: calc(260px + (1 / 2 * (100vw - 260px)));
	margin-left: -25%;
	/*border: 1px solid orange;*/
	z-index: -1 !important;
	overflow: hidden;
	bottom: 10px;
}
@media screen and (min-width: 1415px) {
	.reply_box{
		margin-left: -350px;
	}
}
.self_bubble{
	background-color: #ffc547;
	color: black;
	max-width: calc(100% - 100px);
	float: right;
	display: block;
	margin: 10px;
	padding: 4px 10px 4px 10px;
	font-size: 20px;
	border-radius: 5px;
	min-height: 40px;
	position: relative;
}
.self_bubble:after{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 6px 0 6px 9px;
	border-color: transparent #ffc547;
	display: block;
	width: 0;
	z-index: 1;
	right: -9px;
	top: 7px;
}
.other_bubble{
	background-color: #cccccc;
	color: black;
	max-width: calc(100% - 100px);
	float: left;
	display: block;
	margin: 10px;
	padding: 4px 10px 4px 10px;
	font-size: 20px;
	border-radius: 5px;
	min-height:40px;
	position: relative;
}
.other_bubble:after{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 6px 9px 6px 0;
	border-color: transparent #cccccc;
	display: block;
	width: 0;
	z-index: 1;
	left: -9px;
	top: 7px;
}
.bubble_wrapper{
	display: block;
	width: 100%;
	min-height: 40px;
	overflow: hidden;
}
.send_button{
	background-color: #ffc547;
	border: none;
	height: 30px;
	width: 12%;
	font-size: 18px;
	border-radius: 5px;
}
.send_button:hover{
	background-color: orange;
}
.reply_textarea:focus{
	border: 1px solid #FFB524;
}
.documents_list{
	position: absolute;
	width: calc(100vw - 320px);
	height: calc(100vh - 50px);
	left: 300px;
	top: 60px;
}
.doc_preview{
	width: 140px;
	height: 140px;
	margin: 0 auto;
	object-fit: cover;
	position:  absolute;
	top: 5px;
	left: 0;
	bottom: 0;
	right: 0;
	cursor: pointer;
}
.doc_frame{
	margin: 4px;
	height: 208px;
	width: 150px;
	cursor: pointer;
	box-shadow: 3px 3px 8px #a9a9a9;
	display: inline-block;
}
.word_doc{
	background-color: #268dd7;
}

.pdf_doc{
	background-color: #FF5930;
}

.image_doc{
	background-color: #b9b9b9;
}

.excel_doc{
	background-color: #33B533;
}

.keynote_doc{
	background-color: #c62400;
}

.default_doc{
	background-color: #ffc547;
}
.audio_doc{
	background-color: #ff6666;
}

.add_file{
	background: #e9e9e9;
	border: 3px dashed gray;
	text-align: center;
	vertical-align: middle;
	display: table;
}
#add_file_sign{
	color: gray;
	font-size: 60px;
	vertical-align:middle;
  display: table-cell;
}

.doc_title{
	font-size: 14px;
	position: absolute;
	left: 4px;
	top: 145px;
	color: white;
	width: 140px;
	height: 60px;
	word-wrap: break-word;
	text-align: center;
	line-height: 60px;
}
.doc_title > span{
		display: inline-block;
    line-height: 1.3em;
		max-height: 37px;
}
.doc_delete{
	position: absolute;
	right: 0px;
	top: 43px;
}
.file_size{
	position: absolute;
	left: 0px;
	top: 43px;
	opacity: .7;
	font-size: 14px;
}
.doc_delete:hover{
	color: #a9a9a9;
	cursor: pointer;
}
.delete_icon{
	position: absolute;
	top: 8px;
	right: 8px;
	color: #E9E9E9;
}
.delete_icon:hover{
	color: #C11D20;
	cursor: pointer;
}
#group_button{
	width: 91.5%;
	height: 37px;
	background-color: #ffc547;
	border: none;
	color: black;
	position: absolute;
	bottom: 15px;
	box-shadow: 1.5px 3px 8px -2px #a9a9a9;
	border-radius: 1px;
}
#group_button:hover{
	background-color: orange;
	color: white;
}
#select_group_names{
	width: 100%;
	margin-top: 10px;
	border: none;
	padding: 8px 4px 8px 4px;
	font-size: 15px;
	margin-bottom: 15px;
	box-shadow: 1.5px 3px 8px -2px #a9a9a9;
	border-radius: 1px;
}
#group_name{
	width: 100%;
	margin-top: 5px;
	border: none;
	padding: 8px 4px 8px 4px;
	font-size: 15px;
	margin-bottom: 10px;
	box-shadow: 1.5px 3px 8px -2px #a9a9a9;
	border-radius: 1px;
}
.selected_group_name{
	margin: 2px 4px 2px 4px;
	background-color: #ffd16e;
	display: inline-block;
	padding: 2px 3px 2px 3px;
	box-shadow: 1.5px 2px 8px -2px #a9a9a9;
	border-radius: 1px;
}
#selected_names_div{
	height: 130px;
	overflow-y: auto;
}
#selected_names_div::-webkit-scrollbar {
    -webkit-appearance: none;
}

#selected_names_div::-webkit-scrollbar:vertical {
    width: 11px;
}

#selected_names_div::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid #e9e9e9; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .3);
}

.selected_group_name:hover{
	background-color: orange;
	cursor: pointer;
}
.selected_group_name.clicked{
	background-color: #53CF29;
}
.rainbow {
  background-image: -webkit-gradient( linear, right bottom, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, right bottom, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.loading_circle {
  /* background: url(../images/ajax-loader.gif) no-repeat 5px 3px; */
	width: 100px;
	height: 100px;
  padding-left: 20px;
	position: absolute;
	top: 45%;
	left: 50%;
}
.file_choose{
	width: 100%;
	font-size: 22px;
	box-shadow: 1.5px 3px 8px -2px #a9a9a9;
}
#chosen_file{
	width: 100%;
	text-align: center;
	margin-top: 15px;
	font-size: 18px;
	box-shadow: 1.5px 3px 8px -2px #a9a9a9;
	height: 34px;
	padding: 4px 8px 4px 8px;
	border-radius: 1px;
	overflow: hidden;
	background-color: #e9e9e9;
}
.file_name{
	width: 100%;
	height: 40px;
	font-size: 20px;
	border: 0;
	padding: 3px 8px 3px 8px;
	box-shadow: 1.5px 3px 8px -2px #a9a9a9;
	border-radius: 1px;
	margin-top: 5px;
}
.upload_button{
	width: 100%;
	font-size: 22px;
	box-shadow: 1.5px 3px 8px -2px #a9a9a9;
	margin-top: 15px;
}
