*{
	margin: 0;
	padding: 0;
	font-family: 'exo 2', sans-serif;
	font-weight: 200;
}
body{
	background-color: #E9E9E9;
	padding-top: 50px !important;
}
.leftbar{
	background-color: #FFC547;
	width: 260px;
	height: 100%;
	position: fixed;
	top:40px;
}
.profile_pic{
	margin: 24px 54px 0px 54px;
	width:150px;
	height: 150px;
	border: 2px solid gray;
	object-fit: cover;
}
.leftbar_item{
	margin: 15px 0px 15px 0px;
	text-align: center;
}
#leftbar_name{
	font-size: 24px;
	background-color: orange;
}
#leftbar_title{
	font-size: 20px;
}
#leftbar_email{
	font-size: 18px;
}
#leftbar_phone{
	font-size: 18px;
}
#notif{
	margin-top: 25vh;
}
.navbar_item{
	display: inline-block;
	margin: 0px 2px 0px 2px;
}
.navbar_link{
	width: 22%;
	text-align: center;
	font-size: 25px;
	padding: 4px 0px 4px 0px;
	margin: 0;
	height: 40px;
	/*border-right: 1px solid black; */
	
}
.navbar_link:hover{
	background-color: orange;
	cursor: pointer;
}
div.navigation_bar{
	background-color: #FFC547;
	height: 40px;
	position: fixed;
	width: 100%;
	top: 0;
}
li.active{
	background-color: orange;
}
#notif_button{
	text-align: center;
	position: absolute;
	width: 40px;
	margin-left: 60%;
	left: 260px;
	font-size: 20px;
	height: 100%;
	padding-top: 7px;
}
#notif_drop{
	position: fixed;
	width: 240px;
	margin-left: 60%;
	left: 100px;
	height: 345px;
	background-color: #ffc547;
	z-index: 98;
	overflow-y: auto;
}
.triangle_thing_notif{
	border-color: transparent;
	border-bottom-color: #ffc547;
	border-style: dashed dashed solid;
	border-width: 0 8.5px 8.5px;
	position: fixed;
	left: 271px;
	margin-left: 60%;
	top: 42px;
	z-index: 98;
	height: 0;
	width: 0;
	
	color: #ffc547;
}
#prof_drop{
	position: fixed;
	width: 240px;
	margin-left: 60%;
	left: 140px;
	height: 80px;
	background-color: #ffc547;
	z-index: 98;
}
.triangle_thing_prof{
	border-color: transparent;
	border-bottom-color: #ffc547;
	border-style: dashed dashed solid;
	border-width: 0 8.5px 8.5px;
	position: fixed;
	left: 317px;
	margin-left: 60%;
	top: 42px;
	z-index: 98;
	height: 0;
	width: 0;
	
	color: #ffc547;
}
.notif_list_item{
	list-style-type: none;
	height: 40px;
	border-bottom: 1px solid black;
	font-size: 14px;
	text-align: left;
	padding: 10px;
}
#logout_button{
	border-bottom: none !important;
}
.notif_list_item:hover{
	background-color: orange;
	cursor: pointer;	
}
#profile_id{
	height: 100%;
	position: absolute;
	margin-left: 60%;
	left: 310px;
	top: 5px;
}
#profile_name{
	height: 100%;
	position: absolute;
	margin-left: 60%;
	left: 350px;
	top: 9px;
}
#profile_id:hover{
	cursor: pointer;
}
#profile_name:hover{
	cursor: pointer;
}
#notif_button:hover{
	background-color: orange;
	cursor: pointer;
}
#name_link{
	color: black;
}
.searchbox{
	border: 0;
	height: 40px;
	width: 260px;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 20px;
	padding: 8px;
}
#categories{
	margin-left: 260px;
	position: fixed;
	width: 60%;
	top:0px;
	left: 0px;
}
#small_prof_pic{
	width: 30px;
	height: 30px;
	object-fit: cover;
	border-radius: 5px;
}
#medium_prof_pic{
	width: 40px;
	height: 40px;
	object-fit: cover;
	border-radius: 5px;
}
#navbar_list{
	height: 40px;
	padding: 0;
}
#span1:hover{
	background-color: orange;
}
.chat_name{
	height: 60px;
	border-bottom: 1px solid black;
	font-size: 18px;
	text-align: left;
	padding: 18px;
}
.drive_name{
	height: 60px;
	border-bottom: 1px solid black;
	font-size: 18px;
	text-align: left;
	padding: 18px;
}
.temp{
	margin-top: -6px;
	margin-right: 7px;
}
.chat_name:hover{
	background-color: orange;
	cursor: pointer;
}
.drive_name:hover{
	background-color: orange;
	cursor: pointer;
}
.online{
	border: 2px solid #00B800;
}
.offline{
	border: 2px solid #B20000;
}
.away{
	border: 2px solid #E6E600;
}
#home_link{
	width: 8%;
}
.hborder{
	border-right: 1px solid black;
  	position: absolute;
  	top: 15%;
  	bottom: 15%;
  	width: 8.1%;
}
.border{
	border-right: 1px solid black;
  	position: absolute;
  	top: 15%;
  	bottom: 15%;
  	width: 22.06%;
}
#make_group{
	font-size: 23px; 
	margin-left: 5px; 
	margin-right: 8px;
}
#make_drive{
	font-size: 23px; 
	margin-left: 5px; 
	margin-right: 8px;
}
#login_area{
	width: 360px;
	height: 520px;
	background-color: #FFC547;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -260px 0 0 -180px;
	border-radius: 10px;
	
}
.login_item{
	display: block;
}
#username_box{
	position: relative;
	left: 50%;
	width: 300px;
	height: 50px;
	font-size: 32px;
	margin-left: -150px;
	margin-top: 90px;
	border: 0;
	border-radius: 5px;
	padding: 8px;
}
#password_box{
	position: relative;
	left: 50%;
	width: 300px;
	height: 50px;
	font-size: 32px;
	margin-left: -150px;
	margin-top: 20px;
	border: 0;
	border-radius: 5px;
	padding: 8px;
}
#remember{
	position: relative;
	left: 32px;
	margin-top: 24px;
}
#remember_box:hover{
	cursor: pointer;
}
#login_button{
	background-color: orange;
	border: 0;
	border-radius: 5px;
	font-size: 32px;
	margin-top: 20px;
	position: relative;
	width: 300px;
	left: 50%;
	margin-left: -150px;
	height: 50px;
}
#login_button:hover{
	background-color: darkorange;
	cursor: pointer;
}
#signup_button{
	background-color: #0099FF;
	border: 0;
	border-radius: 5px;
	font-size: 32px;
	margin-top: 20px;
	position: relative;
	width: 300px;
	left: 50%;
	margin-left: -150px;
	height: 50px;
}
#signup_button:hover{
	background-color: #008AE6;
	cursor: pointer;
}
input[type=checkbox] {  
    display: none;  
} 
label:before {  
    content: "";  
    display: inline-block;  
  
    width: 30px;  
    height: 30px;  
  
    margin-right: 10px;  
    position: absolute;  
    left: 0;  
    bottom: .3em;  
    background-color: #E9E9E9;  
    border-radius: 5px;
}
input[type=checkbox]:checked + label:before {  
	position: absolute;
    content: "\2713";  
    font-size: 30px;  
    color: orange;  
    text-align: center;  
    line-height: 28px;
    bottom: .25em;   
    border-radius: 5px; 
}
#remember_text{
	margin-left: 35px;
	font-size: 25px;
	font-weight: 200;
}
#remember_text:hover{
	cursor: pointer;
}
.signup_item{
	display: block;
}
#signup_area{
	width: 360px;
	height: 640px;
	background-color: #FFC547;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -320px 0 0 -180px;
	border-radius: 10px;
}
#team_signup_area{
	width: 360px;
	height: 320px;
	background-color: #FFC547;
	position: absolute;
	top: 50%;
	left: calc(50% + 380px);
	/* Firefox */
	left: -moz-calc(50% + 380px);
	/* WebKit */
	left: -webkit-calc(50% + 380px);
	/* Opera */
	left: -o-calc(50% + 380px);
	margin: -100px 0 0 -180px;
	border-radius: 10px;
	display: none;
}
#firstname{
	position: relative;
	left: 50%;
	width: 300px;
	height: 40px;
	font-size: 25px;
	margin-left: -150px;
	margin-top: 25px;
	border: 0;
	border-radius: 5px;
	padding: 8px;
}
#lastname{
	position: relative;
	left: 50%;
	width: 300px;
	height: 40px;
	font-size: 25px;
	margin-left: -150px;
	margin-top: 20px;
	border: 0;
	border-radius: 5px;
	padding: 8px;
}
#username_signup{
	position: relative;
	left: 50%;
	width: 300px;
	height: 40px;
	font-size: 25px;
	margin-left: -150px;
	margin-top: 20px;
	border: 0;
	border-radius: 5px;
	padding: 8px;
}
#password_signup{
	position: relative;
	left: 50%;
	width: 300px;
	height: 40px;
	font-size: 25px;
	margin-left: -150px;
	margin-top: 20px;
	border: 0;
	border-radius: 5px;
	padding: 8px;
}
#password_signup_confirm{
	position: relative;
	left: 50%;
	width: 300px;
	height: 40px;
	font-size: 25px;
	margin-left: -150px;
	margin-top: 20px;
	border: 0;
	border-radius: 5px;
	padding: 8px;
}
#subdivision_signup{
	position: relative;
	left: 50%;
	width: 300px;
	height: 40px;
	font-size: 25px;
	margin-left: -150px;
	margin-top: 20px;
	border: 0;
	border-radius: 5px;
	padding: 2px;
	padding-left: 8px;
	-webkit-appearance:none;
}
#phone_signup{
	position: relative;
	left: 50%;
	width: 300px;
	height: 40px;
	font-size: 25px;
	margin-left: -150px;
	margin-top: 20px;
	border: 0;
	border-radius: 5px;
	padding: 8px;
}
#team_code_signup{
	position: relative;
	left: 50%;
	width: 160px;
	height: 40px;
	font-size: 25px;
	margin-left: -150px;
	margin-top: 20px;
	border: 0;
	border-radius: 5px;
	padding: 8px;
}
#make_team_button{
	position: relative;
	left: 50%;
	width: 127px;
	height: 40px;
	font-size: 23px;
	margin-left: 10px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	padding: 2px 4px 2px 4px;
	background-color: orange;
}
#make_team_button:hover{
	background-color: darkOrange;
}
#email_signup{
	position: relative;
	left: 50%;
	width: 300px;
	height: 40px;
	font-size: 25px;
	margin-left: -150px;
	margin-top: 20px;
	border: 0;
	border-radius: 5px;
	padding: 8px;
}
#team_number_signup{
	position: relative;
	left: 50%;
	width: 300px;
	height: 40px;
	font-size: 25px;
	margin-left: -150px;
	margin-top: 20px;
	border: 0;
	border-radius: 5px;
	padding: 8px;
}
#team_name_signup{
	position: relative;
	left: 50%;
	width: 300px;
	height: 40px;
	font-size: 25px;
	margin-left: -150px;
	margin-top: 20px;
	border: 0;
	border-radius: 5px;
	padding: 8px;
}
#choose_team_code_signup{
	position: relative;
	left: 50%;
	width: 300px;
	height: 40px;
	font-size: 25px;
	margin-left: -150px;
	margin-top: 20px;
	border: 0;
	border-radius: 5px;
	padding: 8px;
}
.disclaimer{
	width: 300px;
	margin: 0 auto;
	margin-top: 20px;
	padding: 3px;
}
#darken{
	position: fixed;
	width: 100%;
	height:100%;
	background-color: black;
	opacity: 0.25;
	top:0;
	z-index: 97;
}
.announcement{
	max-width: 700px;
	width: 90%;
	margin: 0 auto;
	background-color: white;
	border: 1px solid orange;
	padding: 10px;
	margin-top: 15px;
	border-radius: 5px;
	font-size: 16px;
	margin-bottom: 20px;
}
.announcement_poster{
	font-size: 20px;
	margin-left: 8px;

}
.announcement_top{
	margin-bottom: -15px;
}
.post_announcement{
	max-width: 700px;
	width: 90%;
	margin: 0 auto;
	background-color: white;
	border: 1px solid orange;
	padding: 10px;
	margin-top: 15px;
	border-radius: 5px;
	font-size: 16px;
	margin-bottom: 20px;
	overflow: auto;
}
.announcement_textarea{
	width: 100%;
	vertical-align: top;
	padding: 5px;
	resize: none;
}
.announcement_textarea:focus{
	outline-style: none;
}
.announcement_post_button{
	float: right;
	background-color: #ffc547;
	border: none;
	font-size: 18px;
	margin-top: 5px;
	padding: 1px 3px 1px 3px;
	border-radius: 5px;
}
.announcement_post_button:hover{
	background-color: orange;
}
.reply_textarea{
	width: 85%;
	vertical-align: top;
	padding: 5px;
	resize: none;
	border:none;
	max-height: 260px;
	height: 20px;
	margin-left: 8px;
	border-radius: 5px;
}
.chat_area{
	position: absolute;
	max-width: 700px;
	width: 50%;
	min-width: 400px;
	height: calc(100vh - 80px - 20px);
	min-height: 400px;
	margin: 0 auto;
	left: calc(260px + (1 / 2 * (100vw - 260px)));
	margin-left: -25%;
	/*border: 1px solid orange;*/
	z-index: -1 !important;
	overflow: auto;
	border-left: 2px solid #cccccc;
	border-right: 2px solid #ffc547;
}
@media screen and (min-width: 1415px) {
    .chat_area{
		margin-left: -350px;
	}
}
.reply_box{
	position: absolute;
	max-width: 700px;
	width: 50%;
	min-width: 400px;
	margin: 0 auto;
	left: calc(260px + (1 / 2 * (100vw - 260px)));
	margin-left: -25%;
	/*border: 1px solid orange;*/
	z-index: -1 !important;
	overflow: hidden;
	bottom: 10px;
}
@media screen and (min-width: 1415px) {
	.reply_box{
		margin-left: -350px;
	}
}
.self_bubble{
	background-color: #ffc547;
	color: black;
	max-width: calc(100% - 100px);
	float: right;
	display: block;
	margin: 10px;
	padding: 4px 6px 4px 6px;
	font-size: 20px;
	border-radius: 5px;
	min-height: 40px;
	position: relative;
}
.self_bubble:after{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 6px 0 6px 9px;
	border-color: transparent #ffc547;
	display: block;
	width: 0;
	z-index: 1;
	right: -9px;
	top: 7px;
}
.other_bubble{
	background-color: #cccccc;
	color: black;
	max-width: calc(100% - 100px);
	float: left;
	display: block;
	margin: 10px;
	padding: 4px 6px 4px 6px;
	font-size: 20px;
	border-radius: 5px;
	min-height:40px;
	position: relative;
}
.other_bubble:after{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 6px 9px 6px 0;
	border-color: transparent #cccccc;
	display: block;
	width: 0;
	z-index: 1;
	left: -9px;
	top: 7px;
}
.bubble_wrapper{
	display: block;
	width: 100%;
	min-height: 40px;
	overflow: hidden;
}
.send_button{
	background-color: #ffc547;
	border: none;
	height: 30px;
	width: 12%;
	font-size: 18px;
	border-radius: 5px;
}
.send_button:hover{
	background-color: orange;
}
.reply_textarea:focus{
	border: 1px solid orange;
	outline: 0;
}
.documents_list{
	position: absolute;
	left: 280px;
	width: calc(100vw - 300px);
	height: calc(100vh - 50px);
	top: 60px;
}
.col-lg-2{
	/*border: 1px solid black;
	background-color: orange;*/
	margin-bottom: 15px;
	padding-bottom: 25px;
	max-width: 180px;
	max-height: 180px;
}
.col-md-3{
	/*border: 1px solid black;
	background-color: orange;*/
	margin-bottom: 15px;
	padding-bottom: 25px;
}
.col-md-4{
	/*border: 1px solid black;
	background-color: orange;*/
	margin-bottom: 15px;
	padding-bottom: 25px;
}
.col-md-5{
	/*border: 1px solid black;
	background-color: orange;*/
	margin-bottom: 15px;
	padding-bottom: 25px;
}
.col-md-6{
	/*border: 1px solid black;
	background-color: orange;*/
	margin-bottom: 15px;
	padding-bottom: 25px;
}
.col-lg-2:before{
	content: "";
	display: block;
	padding-top: 100%;
	max-width: 180px;
	max-height: 180px;
}
.col-md-3:before{
	content: "";
	display: block;
	padding-top: 100%;
}
.col-md-4:before{
	content: "";
	display: block;
	padding-top: 100%;
}
.col-md-5:before{
	content: "";
	display: block;
	padding-top: 100%;
}
.col-md-6:before{
	content: "";
	display: block;
	padding-top: 100%;
}
.doc_preview{
	width: 95%;
	height: 95%;
	margin: 0 auto;
	object-fit:cover;
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border: 1px solid black;
	max-width: 180px;
	max-height: 180px;
}
.doc_preview_overlay{
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 14%, rgba(0,0,0,0) 62%, rgba(0,0,0,0.48) 89%, rgba(0,0,0,0.67) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(14%,rgba(0,0,0,0)), color-stop(62%,rgba(0,0,0,0)), color-stop(89%,rgba(0,0,0,0.48)), color-stop(100%,rgba(0,0,0,0.67))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 14%,rgba(0,0,0,0) 62%,rgba(0,0,0,0.48) 89%,rgba(0,0,0,0.67) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 14%,rgba(0,0,0,0) 62%,rgba(0,0,0,0.48) 89%,rgba(0,0,0,0.67) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 14%,rgba(0,0,0,0) 62%,rgba(0,0,0,0.48) 89%,rgba(0,0,0,0.67) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 14%,rgba(0,0,0,0) 62%,rgba(0,0,0,0.48) 89%,rgba(0,0,0,0.67) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#ab000000',GradientType=0 ); /* IE6-9 */
	z-index: 2;
	width: 95%;
	height: 95%;
	margin: 0 auto;
	object-fit:cover;
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border: 1px solid black;
	max-width: 180px;
	max-height: 180px;
}
.doc_title{
	position: absolute;
	bottom: 5px;
	left: 10px;
	color: white;
	font-size: 16px;

}